body{
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #E0E0E0;
}
a:hover {
	text-decoration: none;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card{
border-radius: 10px;
	background: linear-gradient(180deg, #6DC4FF 0%, #0B40FF 52.08%, #3300FF 100%);
}


	

